= react_component('HolidayDashboard', {holidays: @holidays.present? ? attrize(@holidays) : [],range: holiday_range , active_id: params[:id], new: current_page?(controller: 'holidays', action: 'new')})