- if resource.errors.any?
  #error_explanation{:role => "alert"}
    = react_component('Flash',                                |
      {                                                       |
        alert: I18n.t("errors.messages.not_saved",            |
          count: resource.errors.count,                       |
          resource: resource.class.model_name.human.downcase  |
        )                                                     |
      }                                                       |
      )                                                       |
    = react_component('Flash', alert: flash_message_make(resource.errors))
- if notice
  .row
    = react_component('Flash', notice: notice)
- if alert
  .row
    = react_component('Flash', alert: alert)

